.settings-container {
    background-color: #313338;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

.banner {
    margin-bottom: 50px;
}

.profile-picture {
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 20px;
}

.settings-content-container {
    background-color: #313338;
    padding: 0.6rem;
}

.settings-content {
    background-color: rgba(0, 0, 0, 0.438);
    padding: 0.75rem;
    border-radius: 6px;
}

.user-profile-button {
    right: 10px;
    position: absolute;
    top: 115px;
    border: none;
    outline: none;
    background-color: #454fbd;
    color: white;
    padding: .4rem 1rem;
    border-radius: 4px;
    opacity: 1;
}

.user-profile-button:hover {
    background-color: #39419b;
}

.settings-content {
    display: flex;
    color: white;
    gap: .8rem;
    flex-direction: column;
}

.rec {
    width: 450px;
    min-width: 410px;
    height: 109px;
    background-color: black;
}

.circle {
    position: absolute;
    top: 28px;
    left: 12px;
    width: 136px;
    height: 136px;
    background-color: #313338;
    border-radius: 50%;
}

.setting-user-info-container {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.setting-user-info-container.username,
.setting-user-info-container.email {
    font-weight: 200;
}

.setting-user-inf-text-email-container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    font-size: .85rem;
}

.button-email-reveal {
    background-color: transparent;
    border: none;
    color: #00a3f4;
    padding: 0;
    display: flex;
    font-size: .75rem;
    align-items: center;
}

.button-email-reveal:hover {
    text-decoration: underline;
}