.dialog {
    outline: none;
    border: none;
    text-decoration: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0);
    -webkit-background-clip: padding-box;
    background-clip: content-box;
    backface-visibility: hidden;
    overflow: hidden;
    width: 450px;
    min-width: 410px;
}

.dialog[open] {
    display: flex;
    flex-direction: column;
}

.dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.397);
}