html * {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

input[type=submit] {
    outline: none;
    border: none;
}

:root {
    --picture: 50%;
    --selected: 6px;
    --color-selected: rgba(0, 0, 0, 0.116);
}

button {
    cursor: pointer;
}

/* input:-internal-autofill-selected {
    background-color: none;
} */

html,
body,
#root {
    height: 100%;
}

.App {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.Nav {
    background-color: #2b2d30;
    color: white;
    width: 240px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.nav-footer {
    margin-top: auto;
}

.friend-container {
    padding-right: 6px;
    margin-top: .4rem;
}

.friend-logo {
    padding: 0 .6rem;
}

.friend-button {
    height: 42px;
    margin: .2rem .5rem;
    display: flex;
    align-items: center;
    font-size: 1.05rem;
    gap: .2rem;
    border-radius: var(--selected);
    -webkit-user-select: none;
    user-select: none;
}

.user-info-container {
    background-color: rgba(0, 0, 0, 0.253);
    padding: .4rem .8rem;
    display: flex;
    justify-content: space-between;
    -webkit-user-select: none;
    user-select: none;
    margin-top: .2rem;
}

.user-info {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0 .2rem;
    padding-right: .6rem;
    cursor: pointer;
}

.user--name {
    display: flex;
    flex-direction: column;
    max-width: 120px;
}

.user-name-text {
    line-height: 1;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-name-status {
    font-size: .65rem;
    font-weight: 200;
}

.setting-container {
    display: flex;
    align-items: center;
    gap: .1rem;
}

.setting-button {
    font-size: 16px;
    display: flex;
    background-color: transparent;
    outline: none;
    border: none;
    height: 34px;
    width: 34px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.user-info:hover,
.setting-button:hover {
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: var(--selected);
}

.material-symbols-outlined {
    color: rgb(155, 155, 155);
    font-size: 1.4em;
    line-height: .86;
}

.body {
    display: flex;
    flex-direction: column;
    background-color: #313338;
    flex-grow: 1;
    overflow: hidden;
}

.chatroom-title,
.friend-nav-tab {
    display: flex;
    color: white;
    justify-content: center;
    padding: 5px 0;
}

.chatroom-chat-container {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
    padding: 0 .8rem;
    scrollbar-gutter: stable both-edges;
}

.chatroom-chat {
    margin-top: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.chatroom-message-container {
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 10px;
}

.client-con {
    justify-content: flex-end;
}

.other-con {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.chatroom-message {
    width: fit-content;
    min-height: 30px;
    display: flex;
    border-radius: 5px;
    padding: .2rem .5rem;
    max-width: 45%;
    color: white;
    word-break: normal;
    flex-direction: column;
}

.client {
    background-color: rgb(62, 150, 221);
    text-align: end;
}

.other {
    background-color: rgb(30 31 32);
    text-align: start;
}

.chatroom-message-username {
    display: flex;
}

.chatroom-message-text {
    display: flex;
    word-break: break-word;
    text-align: start;
}

.chatroom-message-time {
    display: flex;
    justify-content: flex-end;
}

.chatroom-message-avatar {
    height: 50px;
    width: 50px;
    border-radius: var(--picture);
    background-color: rgb(30 31 32 / 56%);
}

.chatroom-inputs-container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    padding: 10px 2rem;
}

.add-friend-inputs-container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    padding: 10px 2rem;
    flex-direction: column;
    color: white;
    align-items: center;
}

.chatroom-input {
    background-color: #383a40;
    color: white;
    outline: none;
    border: 0px;
    padding: 15px 10px;
    width: 100%;
    border-radius: 10px;
    resize: none;
}

.chatroom-inputs::placeholder {
    color: rgba(255, 255, 255, 0.336);
}

.form-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1e1f22;
}

.form-container {
    border-radius: 8px;
    background-color: #383a40;
    padding: 2rem;
    width: 480px;
}

.form-header-container {
    text-align: center;
}

.form-header,
.form-subheader {
    font-weight: 600;
}

.form-header {
    padding-bottom: .2rem;
}

.form-subheader {
    color: rgba(255, 255, 255, 0.281);
}

.form {
    display: flex;
    flex-direction: column;
}

.form-button-submit {
    width: 100%;
    color: white;
    background-color: #5865f2;
    padding: .5rem 0;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    margin-top: 1.5rem;
}

.form-input input {
    padding: .7rem .6rem;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.349);
    outline: none;
    border: none;
    color: white;
    font-weight: 100;
    font-size: .9rem;
}

.form-input label {
    font-size: .8rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.774);
}

.form-button-submit {
    margin-top: 1.5rem;
}

.form-resigter-container {
    margin-top: .5rem;
    font-size: .8rem;
}

.form-resigter-text-span {
    padding-right: .2rem;
}

.form-resigter-text-a:link,
.form-resigter-text-a:visited,
.form-resigter-text-a:active {
    color: #00a8fc;
    text-decoration: none;
}

.form-resigter-text-a:hover {
    text-decoration: underline;
}

.required__star {
    color: red;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #1a1b1e #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: .325rem;
}

*::-webkit-scrollbar-thumb {
    background-color: #1a1b1e;
    border-radius: 20px;
}

*::-webkit-scrollbar-track {
    background: #2b2d31;
    border-radius: 5px;
}

.chatroom-title-container-container {
    position: relative;
}

.chatroom-title-container {
    width: 100%;
    box-shadow: #0003 0 4px 6px -1px, #0000001f 0 2px 4px -1px;
    display: flex;
    align-items: center;
    gap: .8rem;
    height: 48px;
    padding-left: 1rem;
}

.friend-tab-title-container {
    width: 100%;
    box-shadow: #0003 0 4px 6px -1px, #0000001f 0 2px 4px -1px;
    display: flex;
    align-items: center;
    height: 48px;
    padding-left: 1rem;
    -webkit-user-select: none;
    user-select: none;
}

.chatroom-title-picture {
    border-radius: var(--picture);
    object-fit: cover;
    height: 30px;
    width: 30px;
}

.rooms {
    overflow-y: auto;
    overflow-x: hidden;
}

.rooms-title {
    display: flex;
    justify-content: space-between;
    padding: .5rem .5rem;
    align-items: baseline;
    cursor: default;
    padding-right: .875rem;
}

.rooms-title-text {
    font-weight: 900;
    font-size: .8rem;
}

.plus-sign {
    font-size: 1rem;
    width: 22px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.plus-sign:hover {
    background-color: rgb(197 197 197 / 16%);
}

.room {
    height: 42px;
    display: flex;
    gap: .6rem;
    align-items: center;
    margin: .2rem .5rem;
    padding: .2rem .6rem;
    border-radius: 4px;
    -webkit-user-select: none;
    user-select: none;
}

.room:hover,
.friend-button:hover {
    cursor: pointer;
    background-color: rgb(197 197 197 / 6%);
}

.current-room {
    background-color: rgb(197 197 197 / 16%);
}

.room-name {
    font-size: .9rem;
}

.room-user-count {
    font-size: .75rem;
}

.conversation-picture-container {
    display: flex;
    align-items: center;
    position: relative;
}

.conversation-picture {
    border-radius: var(--picture);
    object-fit: cover;
    height: 32px;
    width: 32px;
}

.finder-container {
    padding: 0 10px;
    max-height: 48px;
    display: flex;
    align-items: center;
    box-shadow: #0003 0 4px 6px -1px, #0000001f 0 2px 4px -1px;
    height: 100%;
}

.finder {
    padding: 1px 6px;
    height: 28px;
    background-color: #1e1f22;
    width: 100%;
    font-size: 14px;
    border: none;
    color: rgba(255, 255, 255, 0.425);
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.finder:visited,
.finder:active {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.425);
}

.user--profile-picture {
    display: flex;
    position: relative;
    height: 36px;
    width: 36px;
    justify-content: center;
    align-items: center;
}

.user--status-active {
    background-color: rgb(16 191 25);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 3px solid #202224;
}

.conversation-picture-status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    bottom: -3px;
    right: -3px;
    border: 3px solid #2b2d30;
}

.friend-list-item-avatar-container {
    height: 30px;
    width: 30px;
    position: relative;
}

.active-color-status {
    background-color: rgb(16 191 25);
}

.offline-color-status {
    background-color: rgb(127, 131, 145);
}

.friend-list-item:hover .friend-list-item-avatar-status {
    border: 3px solid #515357;
}

.friend-list-item-avatar-status {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    bottom: -3px;
    right: -3px;
    border: 3px solid #313338
}

.user--status-offline {
    background-color: rgb(127, 131, 145);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 3px solid #202224;
}

.user--avatar {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: var(--picture);
}

.line {
    border-left: solid 1px rgba(255, 255, 255, 0.329);
    margin: 0 8px;
}

.add-friend-tab-button {
    background-color: rgb(0, 134, 0);
    color: white;
    outline: none;
    border: none;
    border-radius: .25rem;
    padding: .25rem .4rem;
    margin: 0 .5rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
}

.add-friend-tab-button-active {
    opacity: .8;
}

.add-friend-tab-button-text,
.add-friend-button-text {
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.friend-tab {
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

.add-friend-hgroup {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.add-friend {
    width: 100%;
    padding: 1.25rem 1.8rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.096);
    display: flex;
    color: white;
    flex-direction: column;
    gap: .8rem;
}

/* .add-friend-header {
    font-weight: 1000;
} */

.add-friend-subheader {
    font-weight: 300;
}

.add-friend-input-container,
.friend-list-search-bar-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .8rem;
}

.add-friend-input-container {
    border: 1px solid rgba(0, 0, 0, 0.075);
}

.add-friend-input-container-active {
    border: 1px solid rgb(0, 110, 255);
}

.add-friend-input-container-error {
    border: 1px solid rgb(255, 101, 101);
}

.add-friend-input-wrapper,
.friend-list-search-bar-wrapper {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    padding: .6rem 0;
}

.add-friend-input,
.friend-list-search-bar {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    font-size: 1rem;
    margin-right: .4rem;
}

.friend-list-search-bar {
    height: 1rem;
}

.search-bar-icon {
    cursor: pointer;
}

.friend-list-search-bar-container {
    border-radius: 4px;
}

.add-friend-input::placeholder {
    color: rgba(255, 255, 255, 0.589);
}

.add-friend-button {
    background-color: #5865f2;
    border: none;
    border-radius: 4px;
    color: white;
    padding: .3rem .6rem;
    min-width: 60px;
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: .8;
}

.add-friend-button:hover {
    opacity: 1;
}

.friend-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    min-width: 0;
    width: 100%;
    justify-content: space-between;
}

.friend-nav-tabs {
    display: flex;
}

.friend-nav-tab {
    margin: 0 .5rem;
    padding: 0.125rem .5rem;
    cursor: pointer;
}

.friend-nav-tab:hover {
    background-color: rgba(197, 197, 197, 0.171);
    border-radius: 4px;
}

.tab-title {
    color: white;
    padding: 0.125rem .5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.friend-list-header {
    margin: 1.25rem 1.8rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.friend-nav-empty-space {
    display: flex;
    height: 100%;
    width: 1.4em;
    background: linear-gradient(to right, rgb(49 51 56 / 0%) 0%, rgb(49 51 56) 25%);
}

.friend-nav-container {
    display: flex;
    min-width: 0;
    flex: 1 1 auto;
}

.friend-list-item {
    display: flex;
    gap: .5rem;
    padding: .8rem 0rem;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.171);
    margin: 0 1.8rem;
    justify-content: space-between;
    -webkit-user-select: none;
    user-select: none;
}

.friend-list-item-container {
    overflow-y: auto;
    overflow-x: hidden;
}

.friend-list-item-container::-webkit-scrollbar-track {
    background-color: #313338;
}

.friend-list-item:hover {
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 4px;
    border-top: 1px solid transparent;
    margin: 0 1rem;
    padding: .8rem;
}

.friend-list-item:hover+.friend-list-item {
    border-top: 1px solid transparent;
}

.friend-list-item-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.friend-list-item-username {
    color: white;
}

.friend-list-footer {
    margin-top: auto;
    padding: 1.8rem;
}

.friend-list-selection-header {
    margin: 1.8rem 1rem .8rem 1.8rem;
    color: white;
}

.friend-list-user-info {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.friend-list-buttons {
    display: flex;
    gap: .5rem;
}

.friend-list-decline-button,
.friend-list-accept-button {
    border-radius: 50%;
    background-color: #2b2d31;
    border: none;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friend-list-decline-button-icon,
.friend-list-accept-button-icon {
    color: rgba(255, 255, 255, 0.637);
}

.friend-list-decline-button:hover .friend-list-decline-button-icon {
    color: red;
}

.friend-list-accept-button:hover .friend-list-accept-button-icon {
    color: rgb(0, 219, 0);
}

.friend-list-item-type {
    font-size: .6rem;
    font-weight: 800;
    color: rgb(156, 156, 156);
}

.add-friend-error-message {
    color: rgb(255, 101, 101);
    font-size: .9rem;
}

.setting-button:hover span {
    color: white;
}

.open-logout-button:hover {
    background-color: red;
}

.setting-dialog-close-button-container span {
    font-family: 'Material Symbols Outlined';
}

.skeleton-room {
    margin: .2rem .5rem;
    padding: 0;
    background-color: rgba(197, 197, 197, 0.014);
}

.skeleton-friend-list-item {
    border: none;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 4px;
}

.skeleton-box {
    height: 34px;
    width: 100%;
}

.friend-list-item.skeleton-friend-list-item:hover {
    background-color: none;
    border-top: none;
    margin: 0 1.8rem;
    padding: .8rem 0rem;
}

.skeleton-friend-list-item-container {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    overflow: auto;
}

.skeleton-rooms {
    overflow: auto;
}

.skeleton-message {
    height: 66px;
    width: 20%;
    background-color: rgb(30 31 32 / 56%);
}